<ion-header>
  <ion-navbar>
    <ion-title>
      الصوتيات
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="customGreen">
  <!--<ion-list class="clearBG">-->
    <!--<ion-item class="clearBG" *ngIf="network_exist">-->
  <div *ngIf="network_exist">
    <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/324100830&amp;auto_play=true&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/335123150&amp;auto_play=true&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/335122085&amp;auto_play=true&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
    <!--</ion-item>-->
    <!--<ion-item class="clearBG" *ngIf="!network_exist">-->
  <div *ngIf="!network_exist">
     <p text-center >تأكد من الوصول بالإنترنت</p>
  </div>
    <!--</ion-item>-->
  <!--</ion-list>-->
</ion-content>
