page-home {
  ion-content {
    ion-icon {
      color: $primary-dark;
      margin-left: 7px;
    }
    ion-card {
      margin-bottom: 20px !important;
    }
  }

}

@media screen and (orientation: landscape) {
  page-home {
    ion-card {
      font-size: 4vw !important;
    }
  }
}


