<ion-header class="{{fontFaceClass}}">
  <ion-navbar >
    <ion-title> الفصول </ion-title>
    <ion-buttons end >
      <button class="clearBG" large (click)="openSettingsPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
      <button class="clearBG" large (click)="openAboutModal()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="texture_image {{fontFaceClass}} {{fontSize}}">
  <ion-card *ngFor="let chapter of borda.chapters; let index = index;" (click)="openChapter(index)">
      <ion-icon name="ios-book"></ion-icon>
      <span *ngIf='!chapter.extra && false'>{{chapter.id}} - </span> {{chapter.desc}}
  </ion-card>
  <ion-card  (click)="openFullPeotry()" *ngIf="borda.chapters.length > 1">
    <ion-icon name="ios-book"></ion-icon>
    {{borda.name}} (كاملة)
  </ion-card>
</ion-content>
