page-home {
  ion-card{
    background-color: $dark-green !important;
    color: $light-green;
    font-size: 6vw !important ;
    background-image: url("../assets/images/green3.jpg") !important;
  }

  .chapter-desc {
    font-size: 14px !important;
  }
  .chapter_number{
    background-color: $dark-green;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    color: $light-green;
  }

}


