page-settings {
  ion-label{
  }
  //ion-card{
  //  background: $titles-color !important;
  //}
  .item {
    //background: $titles-color;

  }
  .single-settings-container{
    flex: 1;
  }
  .name{
    align-self: flex-start;
    float: right;
  }
  .value{
    align-self: flex-end;
    float: left;
  }
  ion-card-header{
    color: $primary !important;
  }
  .list{
    .item-inner {
      border-bottom: none !important;
      padding-bottom: 0px;
    }
  }
  .example{
    background-color: #c5c5c5 !important;
  }
  .fadeIn{
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
  }

}
