page-chapter-details {
  ion-card{
    background-color: $dark-green !important;
    color: $light-green;
  }
  .chapter_body p{
    color: #222222;
    line-height: 1.7;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 7vw ;

  }
  .chapter-title{
    color: $dark-green !important;
  }
  .separator{
    font-size: 24px !important;
    line-height: 40px !important;
    color: $dark-green !important;
  }
}

