<!--
  Generated template for the ChapterDetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="{{fontFaceClass}} ">

  <ion-navbar>
    <ion-title>
      <span *ngIf='!chapter.extra'>{{chapter.id}} - </span> {{chapter.desc}}
    </ion-title>
    <ion-buttons end >
      <button class="clearBG" large (click)="openSettingsPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
      <button class="clearBG" large (click)="openAboutModal()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="customGreen">
  <div *ngFor="let line of intro" class="clearBG chapter_body clear {{fontFaceClass}} {{fontSize}}" (click)="shareFB(line.right + ' ... ' + line.left)">
    <p class="clearBG chapter-title" float-right>{{line.right}}</p>
    <p class="clearBG chapter-title" float-left>{{line.left}}</p>
  </div>
  <div *ngIf="network_exist">
    <span *ngIf="chapter.track_id">
      <iframe width="100%" height="150" scrolling="no" frameborder="no"
              [src]="chapter.track_url"></iframe>
    </span>
  </div>
  <div *ngFor="let line of chapter.lines; let index = index;" class="clearBG chapter_body clear {{fontFaceClass}} {{fontSize}}"
       (click)="shareFB(line.right + ' ... ' + line.left)">
    <p class="separator"> .. {{prefixer + index + 1}} .. </p>
    <p class='shater' float-right> {{line.right}}</p>
    <p class="shater" float-left>{{line.left}} <span *ngIf="line.count">({{line.count}})</span></p>
  </div>
  <!-- <ion-card padding text-center (click)="openNextChapter(chapter.id)" *ngIf="nextChapter">
    الفصل التالي
  </ion-card> -->
  <div padding class="clear {{fontFaceClass}}" >
    <button ion-button icon-left round float-left (click)="openNextChapter(chapter.id)" *ngIf="nextChapter">
      التالي
      <ion-icon name="arrow-dropleft-circle"></ion-icon>
    </button>
    <button ion-button icon-right round float-right  (click)="openPreviousChapter(previousChapter.id)" *ngIf="previousChapter">
      <ion-icon name="arrow-dropright-circle"></ion-icon>
      السابق
    </button>
  </div>
  <!--<ion-fab left bottom >-->
    <!--<button ion-fab mini color="light-green"><ion-icon name="arrow-dropright"></ion-icon></button>-->
    <!--<ion-fab-list side="right">-->
      <!--<button ion-fab mini class="fab-button">-->
        <!--<ion-icon name="videocam" (click)="showVideo()"></ion-icon>-->
      <!--</button>-->
    <!--</ion-fab-list>-->
  <!--</ion-fab>-->

</ion-content>
