<!--
  Generated template for the ChapterDetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{chapter.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="customGreen {{fontSizeClass}} {{fontFaceClass}}">
  <div *ngFor="let line of intro" class="clearBG chapter_body">
      <p class="clearBG chapter-title" >{{line.right}}</p>
      <p class="clearBG chapter-title" >{{line.left}}</p>
      <p class="separator">  <ion-icon name="ios-more-outline"></ion-icon></p>
  </div>
  <div *ngFor="let line of chapter.lines; let index = index;" class="clearBG chapter_body ">
      <p >{{prefixer + index + 1}} - {{line.right}}</p>
      <p >{{line.left}}</p>
      <p class="separator">  <ion-icon name="ios-more-outline"></ion-icon></p>
  </div>

</ion-content>
