<!--
  Generated template for the ChapterDetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="{{fontFaceClass}} ">

  <ion-navbar>
    <ion-title >
      <span *ngIf='!(chapter.extra || chapter.full_peotry)'>{{chapter.id}} - </span> {{chapter.desc}}
    </ion-title>
    <ion-buttons end >
      <button class="clearBG" large (click)="openSettingsPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
      <button class="clearBG" large (click)="openAboutModal()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="customGreen">
  <div *ngIf="network_exist">
    <span *ngIf="chapter.track_id">
      <iframe width="100%" height="150" scrolling="no" frameborder="no"
              [src]="chapter.track_url"></iframe>
    </span>
  </div>
  <ion-card padding *ngFor="let line of chapter.lines; let index = index;" id="{{chapter.name}}-{{index}}"
            (click)="shareFB(index)">
    <ion-card-content class="{{fontFaceClass}} {{fontSize}}">
      <!--<p class="separator"> .. {{prefixer + index + 1}} .. </p>-->
      <p class="clear" float-right>{{line.right}}</p>
      <p class="clear" float-left>{{line.left}} <span *ngIf="line.count">({{line.count}})</span></p>
    </ion-card-content>
  </ion-card>
  <div padding class="clear {{fontFaceClass}}" >
    <button ion-button icon-left round float-left (click)="openNextChapter(chapter.id)" *ngIf="nextChapter">
      التالي
      <ion-icon name="arrow-dropleft-circle"></ion-icon>
    </button>
    <button ion-button icon-right round float-right  (click)="openPreviousChapter(previousChapter.id)" *ngIf="previousChapter">
      <ion-icon name="arrow-dropright-circle"></ion-icon>
      السابق
    </button>
  </div>
</ion-content>
