page-chapter-details {

  ion-col {
    font-size: 18px;
    font-family: 'amiri';
    line-height: 1.5;
  }
  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }
  .chapter-title{
    color: $dark-green;
    font-size: 20px !important;
    font-weight: bold;
  }
}

