page-chapter-details {
  .chapter_body p{
    color: #222222;
    //background-color: blue;
    line-height: 1.7;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
  }

  .right {
    text-align: right;

  }
  .left {
    text-align: left;
    color: #222222;
    //background-color: red;
    line-height: 1.7;
    margin-bottom: 0px;
    margin-top: 0px;

  }
  .chapter-title{
    color: $dark-green !important;
    font-size: 20px !important;
    font-weight: bold;

  }
}

