// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../assets/fonts/mry-kacstqurn.ttf';
@font-face {
  font-family: 'kufi-bold';
  src: url('../assets/fonts/droidkufi-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kufi';
  src: url('../assets/fonts/DroidKufi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nas5';
  src: url('../assets/fonts/mry-kacstqurn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cairo';
  src: url('../assets/fonts/Cairo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amiri';
  src: url('../assets/fonts/amiri-quran.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  direction: rtl;
  font-family: 'kufi-bold';
}
.customDarkGreen{
  background: rgb(100, 255, 100) !important;
}
.customGreen{
  background: rgb(191, 255, 191);
}
.clearBG{
  background: rgba(255, 255, 255, 0);
}
.kufi, .kufi *{ font-family: 'kufi';}
.amiri, .amiri *{ font-family: 'amiri';}
.cairo, .cairo *{ font-family: 'cairo';}
.font-12,.font-12 *{ font-size: 12px !important;}
.font-14,.font-14 *{ font-size: 14px !important;}
.font-16,.font-16 *{ font-size: 16px !important;}
.font-18,.font-18 *{ font-size: 18px !important;}
.font-20,.font-20 *{ font-size: 20px !important;}
.font-22,.font-22 *{ font-size: 22px !important;}
.font-24,.font-24 *{ font-size: 24px !important;}
.font-26,.font-26 *{ font-size: 26px !important;}
ion-icon{
  font-family: "Ionicons" !important;
  color: $light-green;
}
