// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../assets/fonts/mry-kacstqurn.ttf';

@font-face {
 font-family: 'kufi';
 src: url('../assets/fonts/DroidKufi-Regular.otf') ;
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'amiri';
 src: url('../assets/fonts/amiri-quran.otf') ;
 font-weight: normal;
 font-style: normal;
}
@font-face {
  font-family: 'uthmani';
  src: url('../assets/fonts/UthmanicHafs1.otf');
  font-weight: normal;
  font-style: normal;
}
*{
  direction: rtl;
}
ion-navbar{
  button{
    font-size:14px !important;
  }
}
.alert-radio-group {
  .button-inner {
    flex-direction: row-reverse;
    text-align: right;
  }
}

.customDarkGreen{
  background: $dark-green;
  color: $light-green;
}
.customGreen{
  background: #f0fff0;
    //rgb(191, 255, 191);
}
.clearBG{
  background: rgba(255, 255, 255, 0);
}
.clear {
   clear: both;
}
.bold{
  font-weight: bold;
}
.kufi, .kufi *{ font-family: 'kufi' ;}
.amiri, .amiri *{ font-family: 'amiri' ;}
.uthmani, .uthmani *{ font-family: 'uthmani';}



.font-12,.font-12 *{ font-size: 12px !important;}
.font-14,.font-14 *{ font-size: 14px !important;}
.font-16,.font-16 *{ font-size: 16px !important;}
.font-18,.font-18 *{ font-size: 18px !important;}
.font-20,.font-20 *{ font-size: 20px !important;}
.font-22,.font-22 *{ font-size: 22px !important;}
.font-24,.font-24 *{ font-size: 24px !important;}
.font-26,.font-26 *{ font-size: 26px !important;}
// relative font sizses
//.largeFont, .largeFont * { font-size: 6vw !important; line-height: 12vw;}
//.normalFont, .normalFont * { font-size: 4.5vw !important; line-height: 9vw;}
//.smallFont, .smallFont * { font-size: 3vw !important; line-height: 9vw;}
//fixed font sizes
.largeFont, .largeFont * { font-size: 24px !important; line-height: 2;}
.normalFont, .normalFont * { font-size: 20px !important; line-height: 2;}
.smallFont, .smallFont * { font-size: 16px !important;line-height: 2;}

.share{
  width: 1100px;
  height: 275px;
}
.share *{
  font-size: 70px !important;
}
@media screen and (orientation:landscape) {
  // relative font sizes
  //.largeFont, .largeFont * { font-size: 5vw !important; line-height: 9vw;}
  //.normalFont, .normalFont * { font-size: 4vw !important; line-height: 5vw;}
  //.smallFont, .smallFont * { font-size: 3vw !important; line-height: 4vw;}
  .largeFont, .largeFont * { font-size: 24px !important; line-height: 1.25;}
  .normalFont, .normalFont * { font-size: 20px !important; line-height: 1.25;}
  .smallFont, .smallFont * { font-size: 16px !important;line-height: 1.25;}
}
ion-card{
  background: $lighter-background !important;
  padding-top: 8px !important;
}
ion-icon{
  font-family: "Ionicons" !important;
  color: $light-green;
}
ion-modal {
    background-color: rgba(0, 0, 0, 0.75);
    ion-content.content{
        top: 10%;
        left: 10%;
        width: 80%;
        height: 70%;
        border-radius: 20px;
        .scroll-content {
            border-radius: 20px;
        }
    }
}
