page-intro {
  ion-card{
    // background-color: $dark-green !important;
    color: $light-green;
    font-size: 6vw !important ;
    background-image: url("../assets/images/green3.jpg") !important;
    ion-card-header, ion-card-content{
      color: $light-green !important;
    }
    ion-card-header{
      font-size: 6vw !important ;
    }
    ion-card-content{
      font-size: 4vw !important ;
    }
  }
  ion-content{
    //background-image: url("../../assets/images/green3.jpg") !important;
  }
}
