page-intro {
  ion-content{
    ion-icon{
      color: #333;
      margin-left: 7px;
    }
  }
  ion-card{
    background: $lighter-background !important;
    //color: $light-green;
    //font-size: 6vw !important ;
    //background-image: url("../assets/images/green3.jpg") !important;
    //ion-card-header, ion-card-content{
    //  color: $light-green !important;
    //}
  }
  .largeFont ion-card-content { font-size: 20px !important; line-height: 2;}
  .normalFont ion-card-content { font-size: 16px !important; line-height: 2;}
  .smallFont ion-card-content { font-size: 14px !important;line-height: 2;}
}
@media screen and (orientation:landscape) {
  page-intro {
  }
}
